header svg {
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: 100% 100%;
    -webkit-mask-size: 100% 100%;
    
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490 150"><style>@keyframes dash{0%{stroke-dashoffset:1000px;}to{stroke-dashoffset:0;}}@keyframes stroke-width{0%{stroke-width:3px;}to{stroke-width:6px;}}@keyframes fade{0%{opacity:0;}to{opacity:1;}}text{font-family:sans-serif;font-size:80px;font-weight:bold;fill:none;stroke:%23fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:3px;stroke-dasharray:1000px;stroke-dashoffset:1000px;animation:dash 1.5s cubic-bezier(.8,0,.2,1) var(--delay) forwards,stroke-width 1s cubic-bezier(.8,0,.2,1) calc(var(--delay) + .5s) forwards,fade .2s linear var(--delay) forwards;}</style><text x="30" y="110" style="--delay:0.5s">Shiina</text><text x="270" y="110" style="--delay:1.3s">Miyu</text></svg>');
    
    -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490 150"><style>@keyframes dash{0%{stroke-dashoffset:1000px;}to{stroke-dashoffset:0;}}@keyframes stroke-width{0%{stroke-width:3px;}to{stroke-width:6px;}}@keyframes fade{0%{opacity:0;}to{opacity:1;}}text{font-family:sans-serif;font-size:80px;font-weight:bold;fill:none;stroke:%23fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:3px;stroke-dasharray:1000px;stroke-dashoffset:1000px;animation:dash 1.5s cubic-bezier(.8,0,.2,1) var(--delay) forwards,stroke-width 1s cubic-bezier(.8,0,.2,1) calc(var(--delay) + .5s) forwards,fade .2s linear var(--delay) forwards;}</style><text x="30" y="110" style="--delay:0.5s">Shiina</text><text x="270" y="110" style="--delay:1.3s">Miyu</text></svg>');
}

.main-container {
    opacity: 1;
    margin-bottom: 35vh;
}

.background {
    filter: blur(10px) brightness(0.7);
}

.arrow,
.js,
.project .meta>div:not(.lang) {
    display: none;
}